
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

:root{
  --background: #eee9e9;
  --color: #383838;
  --secondary: #8a8987;
}
*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
  color: var(--color);
  letter-spacing: .05em;
  line-height: 1.3em;
  font-weight: 500;
}
html{
  scroll-snap-type:y proximity;
}
.App{
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
}
/* //hide scroll bar */
/* ::-webkit-scrollbar {
  opacity: 0;
} */

/* //profile */
.profile-container{
  background-color: var(--background);
  position: sticky;
  top: 0px;
  width: 100vw;
  height: 450px;
  z-index: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.profile{
  position: relative;
  height: 100%;
  /* animation: dropdown-profile 2s ease; */
}
.photo{
  position: absolute;
  background-color: var(--background);
  padding-left:300px;
  top: 50% !important;
  transform: translateY(-50%);
  left: 230px;
  z-index: 1;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.photo > img{
  width: 330px;
  height: 330px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  animation: photo 2s ease;
}
@keyframes photo {
  0% {transform:rotate(180deg); opacity: 0;}
  30% {opacity: 1}
  100% {transform:rotate(360deg);}
}
.description{
  position: absolute;
  width: 650px;
  top: 70px;
  left: 1020px;
  animation: info 2s ease;
}
@keyframes info {
  from{transform: translateX(-600px)}
  to{transform: translateX(0px);}
}
.name{
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 10px;
  color: white !important;
}
.desc{
  font-size: 25px;
}
/* info */
.title{
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  padding: 10px;
}
.subtitle{
  font-size: 21px;
  font-weight: 600;
}
.para{
  font-size: 16px;
  color: var(--secondary);
  margin-bottom: 20px;
  font-weight: 400;
}
.extra{
  font-size: 30px;
}
.tech-stack{
  margin-top: 50px;
}
.tech-stack, .languages{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  margin-bottom: 5px;
}
.tech-stack > div, .languages > div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
/* //project container */
.project-title{
  font-weight: bold;
  font-size: 55px;
  background-color: transparent;
  text-align: center;
  animation: project-title 2s;
  animation-fill-mode: forwards;
  position: sticky;
  top: 0;
  z-index: 2;
}
@keyframes project-title {
  0%{font-size: 400px}
  10%{font-size: 400px}
  100%{font-size: 55px}
}
.project-container{
  position: relative;
  z-index: 1;
  width: 100vw;
  min-height: calc(100vh - 450px);
  background-color: rgb(255, 255, 255);
}
.project{
  border-radius: 40px;
  margin: auto;
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  gap: 5vw;
  height: 400px;
  opacity: 0;
}
.project1{
  transform: translate(100vw);
  opacity: 1;
  padding-top: 0px !important;
  animation: project-slide 2s ease;
  animation-fill-mode: forwards;
  animation-delay: .2s;
}
@keyframes project-slide{
  from {transform: translate(100vw)}
  to {transform: translate(0)}
}
.image-container{
  width: 700px;
  height: 100%;
}
.image-container > img{
  width: 700px;
  transition: all 1s ease;
  background-color:transparent;
}
.image-container > img:hover{
  transform: scale(1.1);
}
.project-desc{
  margin-top: 30px;
  width: 600px;
}
.animate{
  animation: visible 2s ease-out;
  animation-fill-mode: forwards;
}
@keyframes visible {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
.display{
  background-color: red;
  animation: slide-out 2s ease-in-out;
}
@keyframes slide-out{
  from{transform: translateX(0)}
  to{transform: translateX(1000px)}
}
/* parallax */
.parallax{
  background-position: center;
  background-attachment: fixed;
  background-image: url('./images/wallpaper.jpg');
  width:50vw;
  height: 70px;
  margin: auto;
  border-radius: 35px;
  margin-top: 50px;
  margin-bottom: 50px;
}
/* .certificate */
/* .con{
  overflow: hidden;
} */
.con{
  scroll-snap-align: start;
}
.certificates-container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow:hidden;
}
.certificate-title{
  font-weight: bold;
  font-size: 50px;
  text-align: left;
  position: sticky;
  top: 10px;
  padding-left: 80px;
  color: #ebebeb;
  text-shadow: 1px 1px 1px #000;
}
.certificate-name{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 50px;;
  width: 35%;
  padding-left: 80px;
  margin-bottom: 100px;
}
.certificates{
  width: 65%;
  height: 100%;
  position: relative;
}
.certificate{
  width: 500px;
  position: absolute;
  transform: translateY(-5%);
  transition: transform 1.5s ease;
  cursor: pointer;
  opacity: 0;
}
.certificate:hover{
  z-index: 100;
}
.name{
  font-size: 28px;
  text-shadow: 1px 1px 1px #000;
  transition: all 1s ease-in-out;
  cursor: pointer;
  opacity: 1;
}
.name:hover{
 transform: scale(1.1);
}
.responsive{
  left: 100px;
  top: 51%;
  z-index: 3;
}
.frontend{
  left: 270px;
  top: 35%;
  z-index: 2;
}
.dsa{
  left: 440px;
  top: 20%;
  z-index: 1;
}
.backend{
  left: 590px;
  top: 4%;
  z-index: 0;
}
.certificate-img{
  width: 100%;
  object-fit: cover;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: transform 1.5s ease;
}
.certificate-img:hover{
  transform: scale(1.3);
}
.show0{
  animation: slideIn 2s ease-in-out forwards;
}
.show1{
  animation: slideIn 2s ease-in-out forwards;
  animation-delay: .5s;
}
.show2{
  animation: slideIn 2s ease-in-out forwards;
  animation-delay: 1s;
}
.show3{
  animation: slideIn 2s ease-in-out forwards;
  animation-delay: 1.5s;
}
@keyframes slideIn {
  0%{transform: translateX(1000px); opacity: .9;}
  100%{transform: translateX(0px); opacity: 1;}
}
.showname0{
  animation: slidename 2s ease-in-out;
}
.showname1{
  animation: slidename 2s ease-in-out;
  animation-delay: .5s;
  
}
.showname2{
  animation: slidename 2s ease-in-out;
  animation-delay: 1s;
  
}
.showname3{
  animation: slidename 2s ease-in-out;
  animation-delay: 1.5s;
  
}
@keyframes slidename {
  0%{transform: translateX(-600px);}
  100%{transform: translateX(0px);}
}

/* footer */
footer{
  background-color: var(--background);
  padding:  0 0 10px 0;
  scroll-snap-align: end;
}
.footer-contianer{
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
}
.media{
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
}
.media > div, .certificate > div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 20px;
}
.media > div > a, .certificate > div >a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}
.com-icon{
  width: 20px;
}